/* budd-toolbar.less
 *
 * Styling for the Budd account toobar
 */


// ==========================================================================
// Budd toolbar
// ==========================================================================

.account-toolbar {
	.clearfix;
	position: fixed;
	z-index: 9999;
	// Initially positioned offscreen on page load
	// Slide onscreen in scripts.js
	top: -36px;
	right: 0;
	left: 0;
	width: 100%;
	height: 36px;
	background-color: @coolGrayDark;
	.box-shadow(0 0 6px 0 rgba(0, 0, 0, 0.5));
	.quick-access {
		#search_mini_form {
			margin-bottom: 0;
			margin-left: 0;
			.form-search {
				margin-top: 4px;
				margin-left: 0;
				.search-query {
					width: 100%;
					padding: 2px 8px;
					border: none;
					&:focus {
						border: none;
						.box-shadow(~"inset 0 0 0 0 rgba(0,0,0,0), 0 0 6px 0 rgba(0,0,0,0.5)");
					}
				}
			}
		}
		.link-list {
			margin-bottom: 0;
			li {
				padding-left: 0;
				margin-bottom: 0;
				margin-left: 11px;
				line-height: 30px;
				a {
					.copperplate-light;
					.font-size(11);
					letter-spacing: 0.15em;
					text-decoration: none;
					color: @white;
					&:hover {
						color: @coolGrayLighter;
					}
				}
				&:before {
					content: "";
				}
				&.divider-vertical {
					width: 1px;
					height: @baseLineHeight * 1.25;
					margin: 0 11px -10px;
					background-color: @coolGray;
				}
				&.first {
					margin-left: 0;
				}
			}
		}
	}
}


// Portrait tablet to default desktop
@media (min-width: 768px) and (max-width: 978px) {
	.account-toolbar {
		.quick-access {
			.form-search {
				// Take width down to 2 columns
				width: 166px;
			}
			// Tighten the spacing on the links due to space constraints
			.link-list {
				margin-bottom: 0;
				li {
					margin-left: 6px;
					a {
						letter-spacing: 0.15em;
					}
					&.divider-vertical {
						width: 1px;
						margin: 0 6px -9px;
					}
				}
			}
		}
	}
}